* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://i.stack.imgur.com/vhoa0.jpg");
  background-size: cover;
  background-position: center;
}
